<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      ranger_mini_v2.urdf
\authors   Achala Athukorala <chhathuranga@gmail.com>
\copyright Copyright (c) 2024, Singapore University of Technology and Design

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<!-- Ranger Mini V2 Mobile Base -->
<robot name="ranger_mini_v2" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="robot_name" default="ranger_mini_v2" />

    <!-- Include Robot Components -->
    <xacro:include filename="$(find ranger_mini_v2_description)/urdf/include/ranger_mini_v2/components.urdf" />

    <!-- Populate robot -->
    <xacro:robot_base link_name="base_link"/>
    <xacro:wheel_assembly_a prefix="front_left_wheel" parent_link="base_link" x="0.23" y="0.206" z="-0.1" roll="0" pitch="0" yaw="0"/>
    <xacro:wheel_assembly_b prefix="front_right_wheel" parent_link="base_link" x="0.23" y="-0.206" z="-0.1" roll="0" pitch="0" yaw="0"/>
    <xacro:wheel_assembly_b prefix="rear_left_wheel" parent_link="base_link" x="-0.23" y="0.206" z="-0.1" roll="0" pitch="0" yaw="3.14159"/>
    <xacro:wheel_assembly_a prefix="rear_right_wheel" parent_link="base_link" x="-0.23" y="-0.206" z="-0.1" roll="0" pitch="0" yaw="3.14159"/>

    
    

</robot>
